@using Website.Models
@model Website.Models.CategoriesListViewModel

@{
    ViewBag.Title = "Categorías";
}

<div>
    <a href="/" title="Ir a Inicio"><i class="fas fa-arrow-left"></i> Inicio</a>
</div>

<h2>Categorías</h2>

<ul>
    @Html.DisplayFor(m => m.Categories)
</ul>

@section SeoMeta {
    <meta name="description" content="Todas las categorías de mi Blog">
    <meta name="url" content="@ViewBag.BaseUrl/categories">


    <meta property="og:url" content="@ViewBag.BaseUrl/categories" />
    <meta property="og:title" content="Categories" />
    <meta property="og:description" content="Todas las categorías de mi Blog" />
}

@section HeadLinks {
    <link rel="canonical" href="@ViewBag.BaseUrl/categories">
}