@using Website.Models
@model Website.Models.AuthorViewModel

@{
    Layout = "_Layout_Error";
}

<div>
    <a href="/" title="Go to Home Page"><i class="fas fa-arrow-left"></i> Back Home</a>
</div>

<h1>404 - Page not found</h1>
<h2>That's not right!</h2>
<p>The page you tried to access doesn't exist.</p>
