@using Website.Models
@model Website.Models.AuthorViewModel

@{
    Layout = "_Layout_Error";
}

<div>
    <a href="/" title="Go to Home Page"><i class="fas fa-arrow-left"></i> Back Home</a>
</div>

<h1>Error</h1>
<h2>Arrrrgghh!</h2>
<p>The page you tried to access threw it's toys out of the pram and stopped working. Hopefully it will calm down and behave its self again shortly. In the mean time I've sent it to the naughty step.</p>
