@using Website.Models
@model Website.Models.AuthorViewModel

@{
    Layout = "_Layout_Error";
}

<div>
    <a href="/" title="Go to Home Page"><i class="fas fa-arrow-left"></i> Back Home</a>
</div>

<h1>Unauthorized</h1>
<h2>Stop that!</h2>
<p>The page you tried to access is beyond your meager authentication level.</p>
